[application]
# App name
name = "rusty-links"

# Dioxus App Default Platform
default_platform = "fullstack"

# `build` & `serve` dist path
out_dir = "dist"

# resource (assets) file folder
asset_dir = "assets"

[web.app]
# HTML title tag content
title = "Rusty Links"

# Base path for the app
base_path = "/"

[web.watcher]
# when watcher trigger, regenerate the `index.html`
reload_html = true

# which files or dirs will be watcher monitoring
watch_path = ["src", "assets"]

# include `assets` in web platform
[web.resource]
# Public directory to serve static files from
public_dir = "assets"

# CSS style file
style = []

# Javascript code file
script = []

[web.resource.dev]
# Javascript code file
# serve: [dev-server] only
script = []

[bundle]
identifier = "com.rustylinks.app"
publisher = "Rusty Links"
